.footerContainer {
    background-color: #333;
    min-width: 1350px;
    height: 400px;

    .borders { 
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 40px;

    //     .firstBorder {
    //         width: 60px;
    //         border-bottom: 2px solid silver;
    //         margin-left: 40px;
    //     }
    //     .secondBorder {
    //         width: 60px;
    //         border-bottom: 2px solid silver;
    //         margin-left: 25%;
    //     }
    //     .thirdBorder {
    //         width: 60px;
    //         border-bottom: 2px solid silver;
    //         margin-left: 25%;
    //     }
     }

    .content {
        margin-left: 40px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        
        .servicesTitle {
            color: rgb(5, 99, 153);

            hr {
                border-top: 2px solid silver;
                width: 90px;
            }

            .services {
                margin-top: 20px;

                p {
                    color: silver;
                }
            }
            
        }

        .projectTitle {
            color: rgb(5, 99, 153);
            margin-left: 30%;
            
            hr {
                border-top: 2px solid silver;
                width: 90px;
            }

            .projects {
                margin-top: 20px;

                p {
                    color: silver;
                }
            }
        }

        .contactTitle {
            color: rgb(5, 99, 153);
            margin-left: 30%;

            hr {
                border-top: 2px solid silver;
                width: 90px;
            }

            .info {
                margin-top: 20px;

                p {
                    color: silver;
                }
            }
        }
    }
}