.container-fluid {

    .photo {
        width: 100%;
        height: auto;
        margin: 4% auto 0px;
        opacity: .5;
    }

    .lineUnderPhoto {
        margin-top: 0px;
    }

    .logoContainer {
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 200px;
        top: 200px;

        .name {
            animation: fadein 1.5s ease-in-out;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .logo {
            width: 100%;
        }

        .spanContainer {
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 140%;

            .item1 {
                opacity: 0;
                animation: fadein 1.3s ease-in;
                animation-delay: 1s;
                animation-fill-mode: forwards;
            }
            .item2 {
                opacity: 0;
                animation: fadein 1.3s ease-in;
                animation-delay: 1.8s;
                animation-fill-mode: forwards;
            }
            .item3 {
                opacity: 0;
                animation: fadein 1.3s ease-in;
                animation-delay: 2.6s;
                animation-fill-mode: forwards;
            }
        }
    }
    .companyDescription {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 100px auto 100px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        transition: all 1s ease-in-out;
        opacity: 0;

        h1 {
            margin-bottom: 50px;
        }
    }
    .fade-in.companyDescription {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 100px auto 100px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        transition: all 1s ease-in-out;
        opacity: 1;

        h1 {
            margin-bottom: 50px;
        }
    }
    
    .servicesContainer {
        width: 100%;

        .services {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px auto 100px;
            justify-content: center;
            align-items: center;
            text-align: justify;
            transition: all 1s ease-in-out;
            opacity: 0;

            h1 {
                margin-top: 70px;
            }
        }
        .fade-in.services {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px auto 100px;
            justify-content: center;
            align-items: center;
            text-align: justify;
            transition: all 1s ease-in-out;
            opacity: 1;

            h1 {
                margin-top: 70px;
            }
        }

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            .card {
                height: auto;
                width: 40%;
                margin: 0px 70px 40px;
                padding: 0px 10px;
                display: flex;
                flex-direction: column;
                border: none;

                p {
                    padding-top: 20px;
                }
            }
        }
    }
    

    .line {
        transition: all 1s ease-in-out;
        opacity: 0;
        margin: 0;
    }
    .fade-in.line {
        transition: all 1s ease-in-out;
        opacity: 1;
        margin: 0;
    }
}
@keyframes fadein {
    from {opacity: 0};
    to {opacity: 1};
}
@keyframes slide {
    from {left: -800px};
    to {left: 0px};
}