.container-fluid {
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;

    .photo {
        width: 100%;
        height: auto;
        margin: 0 auto 0px;
        opacity: .5;
        mix-blend-mode: multiply;
    }

    .lineUnderPhoto {
        margin: 0px;
        background-color: #333;
    }

    .logoContainer {
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 185px;
        top: 200px;

        .name {
            // animation: fadein 1.5s ease-in-out;
            // animation-fill-mode: forwards;
            opacity: 1;
        }

        .logo {
            width: 100%;
        }

        .spanContainer {
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 140%;

            .item1 {
                opacity: 0;
                animation: fadein 1.3s ease-in;
                animation-delay: .5s;
                animation-fill-mode: forwards;
            }
            .item2 {
                opacity: 0;
                animation: fadein 1.3s ease-in;
                animation-delay: 1.3s;
                animation-fill-mode: forwards;
            }
            .item3 {
                opacity: 0;
                animation: fadein 1.3s ease-in;
                animation-delay: 2.1s;
                animation-fill-mode: forwards;
            }
        }
    }

    .companyDescriptionContainer {
        background: repeating-radial-gradient(#333, #332);
        
        .companyDescription {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            text-align: justify;
            transition: all 1s ease-in-out;
            opacity: 0;
            color: #aaa9ad;

            h1 {
                margin-bottom: 50px;
                border-bottom: #0056b3;
            }
        }
        .fade-in.companyDescription {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            text-align: justify;
            transition: all 1s ease-in-out;
            opacity: 1;
            color: #aaa9ad;

            h1 {
                margin-bottom: 50px;
                border-bottom: 1px solid #0056b3;
            }
        }
    }
    
    
    .servicesContainer {
        width: 100%;

        .services {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px auto;
            padding-bottom: 100px;
            justify-content: center;
            align-items: center;
            text-align: justify;
            transition: all 1s ease-in-out;
            opacity: 0;

            h1 {
                margin-top: 70px;
                border-bottom: 1px solid lightskyblue;
            }
        }
        .fade-in.services {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0px auto;
            padding-bottom: 100px;
            justify-content: center;
            align-items: center;
            text-align: justify;
            transition: all 1s ease-in-out;
            opacity: 1;

            h1 {
                margin-top: 70px;
                border-bottom: 1px solid lightskyblue;
            }
        }

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            a {
                text-decoration: none;
                width: 40%;
                margin: 40px 70px 40px 0px;
            }

            .card {
                color: silver;
                display: flex;
                flex-direction: column;
                height: 300px;
                justify-content: space-between;
                border: none;
                padding: 20px 15px;
                background: repeating-radial-gradient(#333, #332);
                transition: all ease .5s;
                border-radius: 25px;

                h4 {
                    text-decoration: underline;
                    text-decoration-color: green;
                }

                div {
                    display: flex;
                    justify-content: flex-end;

                    p {
                        text-align: center;
                        margin-right: 10px;
                        color: green;
                        border: 1px solid green;
                        width: 100px;
                        height: 30px;
                    }
                }
            }
            .card:hover {
                transform: scale(1.03);
                transition: all ease .5s;
            }
        }
    }
    

    .line {
        transition: all 1s ease-in-out;
        opacity: 0;
        margin: 0;
    }
    .fade-in.line {
        transition: all 1s ease-in-out;
        opacity: 1;
        margin: 0;
    }
}
@keyframes fadein {
    from {opacity: 0};
    to {opacity: 1};
}
@keyframes slide {
    from {left: -800px};
    to {left: 0px};
}