.navbarContainer {
    width: 100%;
    height: 62.484px;

    .navbar {
        background-color: #333;
        width: 100%;
        padding: 0px;
        margin: 0px;
        
        .navbarLogo {
            img {
                max-width: 100px;
                mix-blend-mode: multiply;
            }
        }

        .nav-link {
            color: silver;
        }
        .nav-link:hover {
            text-shadow: 0px 0px 10px rgb(15, 111, 255);
            color: silver;
        }
    }
}
