.certificationsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 300px;
  padding-left: 250px;
  margin-bottom: 100px;
}
.certificationsContainer h1 {
  padding-bottom: 100px;
  margin-left: 10px;
}
.certificationsContainer .certs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -50px;
}
.certificationsContainer .certs .cert {
  width: 400px;
  height: 500px;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.certificationsContainer .certs .cert img {
  width: 280px;
  margin: 50px auto 30px;
}
.certificationsContainer .certs .cert h3 {
  padding-bottom: 50px;
  text-align: center;
}
