.footerContainer {
  background-color: #333;
  height: 100%;
}
.footerContainer .borders {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 40px;
}
.footerContainer .content {
  margin-left: 5%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.footerContainer .content .servicesTitle {
  color: #056399;
}
.footerContainer .content .servicesTitle .services {
  margin-top: 20px;
}
.footerContainer .content .servicesTitle .services p {
  color: silver;
}
.footerContainer .content .projectTitle {
  color: #056399;
  margin-left: 25%;
}
.footerContainer .content .projectTitle .projects {
  margin-top: 20px;
}
.footerContainer .content .projectTitle .projects p {
  color: silver;
}
.footerContainer .content .contactTitle {
  color: #056399;
  margin-left: 25%;
}
.footerContainer .content .contactTitle .info {
  margin-top: 20px;
}
.footerContainer .content .contactTitle .info p {
  color: silver;
}
