.container-fluid {
  background-color: whitesmoke;
  padding: 0px;
  margin: 0px;
}
.container-fluid .photo {
  width: 100%;
  height: auto;
  margin: 0 auto 0px;
  opacity: 0.5;
}
.container-fluid .logoContainer {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 185px;
  top: 200px;
}
.container-fluid .logoContainer .name {
  opacity: 1;
}
.container-fluid .logoContainer .logo {
  width: 100%;
}
.container-fluid .logoContainer .spanContainer {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 140%;
}
.container-fluid .logoContainer .spanContainer .item1 {
  opacity: 0;
  animation: fadein 1.3s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.container-fluid .logoContainer .spanContainer .item2 {
  opacity: 0;
  animation: fadein 1.3s ease-in;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}
.container-fluid .logoContainer .spanContainer .item3 {
  opacity: 0;
  animation: fadein 1.3s ease-in;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}
.container-fluid .background {
  opacity: 1;
  background-color: white;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}
.container-fluid .background .statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease-in;
}
.container-fluid .background .statsContainer .stats {
  display: flex;
  position: relative;
  bottom: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
}
.container-fluid .background .statsContainer .stats hr {
  border-right: 2px solid silver;
  height: 100px;
}
.container-fluid .background .statsContainer .stats .stat {
  padding: 0px 30px;
}
.container-fluid .background .statsContainer .stats .stat .number {
  font-size: 40px;
}
.container-fluid .background .statsContainer .stats .stat .description {
  font-size: 30px;
}
.container-fluid .background .fade-in.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 1s ease-in;
}
.container-fluid .companyDescriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid silver;
}
.container-fluid .companyDescriptionContainer .companyDescription {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 0px;
  padding-bottom: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.container-fluid .companyDescriptionContainer .companyDescription h1 {
  margin-bottom: 50px;
  margin-top: -200px;
  border-bottom: 1px solid #0056b3;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-top: 0px;
  padding-bottom: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription h1 {
  margin-bottom: 50px;
  margin-top: -200px;
  border-bottom: 1px solid #0056b3;
}
.container-fluid .companyDescriptionContainer div {
  height: 700px;
  width: 60%;
}
.container-fluid .companyDescriptionContainer div .carouselContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.container-fluid .companyDescriptionContainer div .carouselContainer .carousel-caption {
  position: absolute;
  top: 85%;
  margin: 0 auto;
}
.container-fluid .companyDescriptionContainer div .carouselContainer .carousel.slide {
  width: 100%;
}
.container-fluid .companyDescriptionContainer div .carouselContainer .carousel-inner {
  width: 100%;
}
.container-fluid .companyDescriptionContainer div .carouselContainer .carousel-item {
  width: 100%;
}
.container-fluid .companyDescriptionContainer div .carouselContainer img {
  height: 100%;
  width: 100%;
}
.container-fluid .servicesContainer {
  width: 100%;
}
.container-fluid .servicesContainer .services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.container-fluid .servicesContainer .services h1 {
  margin-top: 70px;
  border-bottom: 1px solid lightskyblue;
}
.container-fluid .servicesContainer .fade-in.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.container-fluid .servicesContainer .fade-in.services h1 {
  margin-top: 70px;
  border-bottom: 1px solid lightskyblue;
}
.container-fluid .servicesContainer .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.container-fluid .servicesContainer .cards a {
  text-decoration: none;
  width: 40%;
  margin: 40px 70px 40px 0px;
}
.container-fluid .servicesContainer .cards .card {
  color: silver;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  border: none;
  padding: 20px 15px;
  background: repeating-radial-gradient(#333, #332);
  transition: all ease 0.5s;
  border-radius: 25px;
}
.container-fluid .servicesContainer .cards .card img {
  position: absolute;
  right: 25px;
  width: 100px;
  height: 100px;
}
.container-fluid .servicesContainer .cards .card img {
  transform: scale(0.8);
  position: absolute;
  top: 10px;
  right: 25px;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.container-fluid .servicesContainer .cards .card h4 {
  text-decoration: underline;
  text-decoration-color: green;
}
.container-fluid .servicesContainer .cards .card p {
  margin-top: 40px;
}
.container-fluid .servicesContainer .cards .card div {
  display: flex;
  justify-content: flex-end;
}
.container-fluid .servicesContainer .cards .card div span {
  text-align: center;
  margin-right: 10px;
  line-height: 40px;
  color: green;
  border: 1px solid green;
  width: 130px;
  height: 40px;
  border-radius: 25px;
  transition: all 0.5s ease;
}
.container-fluid .servicesContainer .cards .card:hover {
  transform: scale(1);
  transition: all ease 0.5s;
}
.container-fluid .servicesContainer .cards .card:hover div span {
  background-color: #0056b3;
  color: white;
  border-color: #0056b3;
  transition: all 0.5s ease;
}
.container-fluid .servicesContainer .cards .card:hover img {
  opacity: 1;
  transition: all 0.5s ease;
  width: 100px;
  height: 100px;
}
.container-fluid .line {
  transition: all 1s ease-in-out;
  opacity: 0;
  margin: 0;
}
.container-fluid .fade-in.line {
  transition: all 1s ease-in-out;
  opacity: 1;
  margin: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    left: -800px;
  }
  to {
    left: 0px;
  }
}
