.container-fluid {
  background-color: whitesmoke;
  padding: 0px;
  margin: 0px;
}
.container-fluid .containTheCarousel {
  height: 800px;
  width: 100%;
}
.container-fluid .containTheCarousel .carouselContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.container-fluid .containTheCarousel .carouselContainer .carousel-caption {
  width: 100%;
  position: absolute;
  top: 85%;
  left: auto;
  right: auto;
}
.container-fluid .containTheCarousel .carouselContainer .carousel.slide {
  width: 100%;
  height: 100%;
}
.container-fluid .containTheCarousel .carouselContainer .carousel-inner {
  width: 100%;
  height: 100%;
}
.container-fluid .containTheCarousel .carouselContainer .carousel-item {
  width: 100%;
  height: 100%;
}
.container-fluid .containTheCarousel .carouselContainer img {
  height: 100%;
  width: 100%;
}
.container-fluid .companyDescriptionContainer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  border-radius: 10px;
  margin-top: 50px;
}
.container-fluid .companyDescriptionContainer .companyDescription {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
  background-color: rgba(196, 196, 196, 0.315);
}
.container-fluid .companyDescriptionContainer .companyDescription h1 {
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  margin-bottom: 60px;
  width: 20%;
  text-align: center;
}
.container-fluid .companyDescriptionContainer .companyDescription p {
  width: 80%;
  margin-bottom: 70px;
}
.container-fluid .companyDescriptionContainer .companyDescription button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
  border-radius: 10px;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription h1 {
  border-bottom: 1px solid rgba(196, 196, 196, 0.589);
  margin-bottom: 60px;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription p {
  width: 80%;
  margin-bottom: 70px;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}
.container-fluid .background {
  opacity: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  transform: scale(0.3);
  border-radius: 10px;
}
.container-fluid .background .statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease-in;
  width: 100%;
}
.container-fluid .background .statsContainer .stats {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
}
.container-fluid .background .statsContainer .stats hr {
  border-right: 2px solid silver;
  height: 100px;
}
.container-fluid .background .statsContainer .stats .stat {
  padding: 0px 30px;
}
.container-fluid .background .statsContainer .stats .stat .number {
  font-size: 40px;
}
.container-fluid .background .statsContainer .stats .stat .description {
  font-size: 30px;
}
.container-fluid .fade-in.background {
  opacity: 1;
  background-color: white;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  transform: scale(1);
}
.container-fluid .fade-in.background .fade-in.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 1s ease-in;
  width: 100%;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats hr {
  border-right: 2px solid silver;
  height: 100px;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats .stat {
  padding: 0px 30px;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats .stat .number {
  font-size: 40px;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats .stat .description {
  font-size: 30px;
}
.container-fluid .servicesContainer {
  width: 100%;
  margin: 75px auto;
  border-radius: 10px;
}
.container-fluid .servicesContainer .services {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 450px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
  position: relative;
}
.container-fluid .servicesContainer .services .container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  align-items: flex-start;
  background-color: lightblue;
  padding: 0 10%;
}
.container-fluid .servicesContainer .services .container h1 {
  margin-top: 50px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.315);
}
.container-fluid .servicesContainer .services .container .content {
  width: 80%;
  margin-top: 50px;
}
.container-fluid .servicesContainer .services .container button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  margin-top: 35px;
  cursor: pointer;
}
.container-fluid .servicesContainer .services .opaque {
  position: absolute;
  background-color: rgba(196, 196, 196, 0.315);
  height: 450px;
  width: 150px;
  margin: 0 auto;
  z-index: 10;
  opacity: 0.7;
}
.container-fluid .servicesContainer .services img {
  height: 450px;
  width: 55%;
  position: absolute;
  right: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-fluid .servicesContainer .fade-in.services {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 450px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
  position: relative;
  border-radius: 10px;
}
.container-fluid .servicesContainer .fade-in.services .container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0.315);
  padding: 0 10%;
  border-radius: 10px;
}
.container-fluid .servicesContainer .fade-in.services .container .content-container {
  margin-left: -10%;
}
.container-fluid .servicesContainer .fade-in.services .container .content-container h1 {
  margin-top: 50px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.315);
  width: 40%;
}
.container-fluid .servicesContainer .fade-in.services .container .content-container .content {
  width: 80%;
  margin-top: 50px;
}
.container-fluid .servicesContainer .fade-in.services .container .content-container button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  margin-top: 35px;
  cursor: pointer;
}
.container-fluid .servicesContainer .fade-in.services .opaque {
  position: absolute;
  background-color: rgba(196, 196, 196, 0.315);
  height: 450px;
  width: 150px;
  margin: 0 auto;
  z-index: 10;
  opacity: 0.7;
}
.container-fluid .servicesContainer .fade-in.services img {
  height: 450px;
  width: 55%;
  position: absolute;
  right: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container-fluid .industriesContainer {
  width: 100%;
  margin-bottom: 75px;
  border-radius: 10px;
}
.container-fluid .industriesContainer .industries {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 450px;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
  position: relative;
}
.container-fluid .industriesContainer .industries .opaque {
  position: absolute;
  background-color: rgba(196, 196, 196, 0.315);
  height: 450px;
  width: 150px;
  margin: 43.8%;
  z-index: 10;
  opacity: 0.7;
}
.container-fluid .industriesContainer .industries img {
  max-height: 450px;
  width: 55.6%;
  position: absolute;
  left: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container-fluid .industriesContainer .industries .container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  align-items: flex-end;
  justify-content: center;
  background-color: lightblue;
}
.container-fluid .industriesContainer .industries .container .contentContainer {
  width: 80%;
}
.container-fluid .industriesContainer .industries .container .contentContainer h1 {
  margin-top: 50px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.315);
  width: 70px;
}
.container-fluid .industriesContainer .industries .container .contentContainer .content {
  width: 80%;
  margin: 20px 0 0;
}
.container-fluid .industriesContainer .industries .container .contentContainer button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  margin-top: 0px;
  border: none;
  cursor: pointer;
}
.container-fluid .industriesContainer .fade-in.industries {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 450px;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
  border-radius: 10px;
}
.container-fluid .industriesContainer .fade-in.industries .opaque {
  position: absolute;
  background-color: rgba(196, 196, 196, 0.315);
  height: 450px;
  width: 150px;
  margin: 43.8%;
  z-index: 10;
  opacity: 0.7;
}
.container-fluid .industriesContainer .fade-in.industries img {
  max-height: 450px;
  width: 55.6%;
  position: absolute;
  left: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container-fluid .industriesContainer .fade-in.industries .container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: rgba(196, 196, 196, 0.315);
  border-radius: 10px;
}
.container-fluid .industriesContainer .fade-in.industries .container .contentContainer {
  width: 70%;
}
.container-fluid .industriesContainer .fade-in.industries .container .contentContainer h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.822);
  width: 33%;
}
.container-fluid .industriesContainer .fade-in.industries .container .contentContainer .content {
  width: 80%;
  margin: 20px 0 30px;
}
.container-fluid .industriesContainer .fade-in.industries .container .contentContainer button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  margin-top: -30px;
  cursor: pointer;
}
.container-fluid .ending {
  width: 100%;
  background-image: url('../images//classybackground.jpg');
  height: 450px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.container-fluid .ending .mha {
  width: 40%;
}
.container-fluid .ending .mha .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-fluid .ending .mha .container h1 {
  border-bottom: 1px solid green;
}
.container-fluid .ending .mha .container .content {
  margin: 50px 0;
}
.container-fluid .ending .mha .container button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}
.container-fluid .ending .fade-in.mha {
  width: 40%;
}
.container-fluid .ending .fade-in.mha .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-fluid .ending .fade-in.mha .container h1 {
  border-bottom: 1px solid green;
}
.container-fluid .ending .fade-in.mha .container .content {
  margin: 50px 0;
}
.container-fluid .ending .fade-in.mha .container button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}
.container-fluid .line {
  transition: all 1s ease-in-out;
  opacity: 0;
  margin: 0;
}
.container-fluid .fade-in.line {
  transition: all 1s ease-in-out;
  opacity: 1;
  margin: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    left: -800px;
  }
  to {
    left: 0px;
  }
}
