.container-fluid .photo {
  width: 100%;
  height: auto;
  margin: 4% auto 0px;
  opacity: 0.5;
}
.container-fluid .lineUnderPhoto {
  margin-top: 0px;
}
.container-fluid .logoContainer {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 200px;
  top: 200px;
}
.container-fluid .logoContainer .name {
  animation: fadein 1.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.container-fluid .logoContainer .logo {
  width: 100%;
}
.container-fluid .logoContainer .spanContainer {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 140%;
}
.container-fluid .logoContainer .spanContainer .item1 {
  opacity: 0;
  animation: fadein 1.3s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.container-fluid .logoContainer .spanContainer .item2 {
  opacity: 0;
  animation: fadein 1.3s ease-in;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}
.container-fluid .logoContainer .spanContainer .item3 {
  opacity: 0;
  animation: fadein 1.3s ease-in;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
}
.container-fluid .companyDescription {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 100px auto 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.container-fluid .companyDescription h1 {
  margin-bottom: 50px;
}
.container-fluid .fade-in.companyDescription {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 100px auto 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.container-fluid .fade-in.companyDescription h1 {
  margin-bottom: 50px;
}
.container-fluid .servicesContainer {
  width: 100%;
}
.container-fluid .servicesContainer .services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.container-fluid .servicesContainer .services h1 {
  margin-top: 70px;
}
.container-fluid .servicesContainer .fade-in.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.container-fluid .servicesContainer .fade-in.services h1 {
  margin-top: 70px;
}
.container-fluid .servicesContainer .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.container-fluid .servicesContainer .cards .card {
  height: auto;
  width: 40%;
  margin: 0px 70px 40px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  border: none;
}
.container-fluid .servicesContainer .cards .card p {
  padding-top: 20px;
}
.container-fluid .line {
  transition: all 1s ease-in-out;
  opacity: 0;
  margin: 0;
}
.container-fluid .fade-in.line {
  transition: all 1s ease-in-out;
  opacity: 1;
  margin: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    left: -800px;
  }
  to {
    left: 0px;
  }
}
