.container-fluid {
  background-color: white;
  padding: 0px;
  margin: 0px;
}
.container-fluid .containTheCarousel {
  height: 800px;
  width: 100%;
}
.container-fluid .containTheCarousel .carouselContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
.container-fluid .containTheCarousel .carouselContainer .carousel-caption {
  width: 100%;
  position: absolute;
  top: 85%;
  left: auto;
  right: auto;
}
.container-fluid .containTheCarousel .carouselContainer .carousel.slide {
  width: 100%;
  height: 100%;
}
.container-fluid .containTheCarousel .carouselContainer .carousel-inner {
  width: 100%;
  height: 100%;
}
.container-fluid .containTheCarousel .carouselContainer .carousel-item {
  width: 100%;
  height: 100%;
}
.container-fluid .containTheCarousel .carouselContainer img {
  height: 100%;
  width: 100%;
}
.container-fluid .companyDescriptionContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
}
.container-fluid .companyDescriptionContainer .companyDescription {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
  background-color: lightblue;
}
.container-fluid .companyDescriptionContainer .companyDescription h1 {
  border-bottom: 1px solid #0056b3;
  margin-bottom: 60px;
}
.container-fluid .companyDescriptionContainer .companyDescription p {
  width: 80%;
  margin-bottom: 70px;
}
.container-fluid .companyDescriptionContainer .companyDescription button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription h1 {
  border-bottom: 1px solid #0056b3;
  margin-bottom: 60px;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription p {
  width: 80%;
  margin-bottom: 70px;
}
.container-fluid .companyDescriptionContainer .fade-in.companyDescription button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}
.container-fluid .background {
  opacity: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  transform: scale(0.3);
}
.container-fluid .background .statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease-in;
  width: 100%;
}
.container-fluid .background .statsContainer .stats {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
}
.container-fluid .background .statsContainer .stats hr {
  border-right: 2px solid silver;
  height: 100px;
}
.container-fluid .background .statsContainer .stats .stat {
  padding: 0px 30px;
}
.container-fluid .background .statsContainer .stats .stat .number {
  font-size: 40px;
}
.container-fluid .background .statsContainer .stats .stat .description {
  font-size: 30px;
}
.container-fluid .fade-in.background {
  opacity: 1;
  background-color: white;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  display: flex;
  justify-content: center;
  transition: all 1s ease;
  transform: scale(1);
}
.container-fluid .fade-in.background .fade-in.statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 1s ease-in;
  width: 100%;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats hr {
  border-right: 2px solid silver;
  height: 100px;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats .stat {
  padding: 0px 30px;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats .stat .number {
  font-size: 40px;
}
.container-fluid .fade-in.background .fade-in.statsContainer .stats .stat .description {
  font-size: 30px;
}
.container-fluid .servicesContainer {
  width: 100%;
  margin: 75px auto;
}
.container-fluid .servicesContainer .services {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 450px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
  position: relative;
}
.container-fluid .servicesContainer .services .container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  align-items: flex-start;
  background-color: lightblue;
  padding: 0 10%;
}
.container-fluid .servicesContainer .services .container h1 {
  margin-top: 50px;
  border-bottom: 1px solid lightskyblue;
}
.container-fluid .servicesContainer .services .container .content {
  width: 80%;
  margin-top: 50px;
}
.container-fluid .servicesContainer .services .container button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  margin-top: 35px;
  cursor: pointer;
}
.container-fluid .servicesContainer .services .opaque {
  position: absolute;
  background-color: lightblue;
  height: 450px;
  width: 150px;
  margin: 0 auto;
  z-index: 10;
  opacity: 0.7;
}
.container-fluid .servicesContainer .services img {
  max-height: 450px;
  width: 55%;
  position: absolute;
  right: 0px;
}
.container-fluid .servicesContainer .fade-in.services {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 450px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
  position: relative;
}
.container-fluid .servicesContainer .fade-in.services .container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  align-items: flex-start;
  background-color: lightblue;
  padding: 0 10%;
}
.container-fluid .servicesContainer .fade-in.services .container h1 {
  margin-top: 50px;
  border-bottom: 1px solid lightskyblue;
}
.container-fluid .servicesContainer .fade-in.services .container .content {
  width: 80%;
  margin-top: 50px;
}
.container-fluid .servicesContainer .fade-in.services .container button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  margin-top: 35px;
  cursor: pointer;
}
.container-fluid .servicesContainer .fade-in.services .opaque {
  position: absolute;
  background-color: lightblue;
  height: 450px;
  width: 150px;
  margin: 0 auto;
  z-index: 10;
  opacity: 0.7;
}
.container-fluid .servicesContainer .fade-in.services img {
  max-height: 450px;
  width: 55%;
  position: absolute;
  right: 0px;
}
.container-fluid .industriesContainer {
  width: 100%;
  margin-bottom: 75px;
}
.container-fluid .industriesContainer .industries {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 450px;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
  position: relative;
}
.container-fluid .industriesContainer .industries .opaque {
  position: absolute;
  background-color: lightblue;
  height: 450px;
  width: 150px;
  margin: 43.8%;
  z-index: 10;
  opacity: 0.7;
}
.container-fluid .industriesContainer .industries img {
  max-height: 450px;
  width: 55.6%;
  position: absolute;
  left: 0px;
}
.container-fluid .industriesContainer .industries .container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  align-items: flex-end;
  background-color: lightblue;
}
.container-fluid .industriesContainer .industries .container .contentContainer {
  width: 80%;
}
.container-fluid .industriesContainer .industries .container .contentContainer h1 {
  margin-top: 50px;
  border-bottom: 1px solid lightskyblue;
  width: 130px;
  padding-bottom: 30px;
}
.container-fluid .industriesContainer .industries .container .contentContainer .content {
  width: 80%;
  margin-top: 20px;
}
.container-fluid .industriesContainer .industries .container .contentContainer button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  margin-top: 35px;
  border: none;
  cursor: pointer;
}
.container-fluid .industriesContainer .fade-in.industries {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 450px;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.container-fluid .industriesContainer .fade-in.industries .opaque {
  position: absolute;
  background-color: lightblue;
  height: 450px;
  width: 150px;
  margin: 43.8%;
  z-index: 10;
  opacity: 0.7;
}
.container-fluid .industriesContainer .fade-in.industries img {
  max-height: 450px;
  width: 55.6%;
  position: absolute;
  left: 0px;
}
.container-fluid .industriesContainer .fade-in.industries .container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  align-items: flex-end;
  background-color: lightblue;
}
.container-fluid .industriesContainer .fade-in.industries .container .contentContainer {
  width: 70%;
}
.container-fluid .industriesContainer .fade-in.industries .container .contentContainer h1 {
  margin-top: 50px;
  border-bottom: 1px solid lightskyblue;
  width: 130px;
  padding-bottom: 30px;
}
.container-fluid .industriesContainer .fade-in.industries .container .contentContainer .content {
  width: 80%;
  margin-top: 20px;
}
.container-fluid .industriesContainer .fade-in.industries .container .contentContainer button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  margin-top: 35px;
  border: none;
  cursor: pointer;
}
.container-fluid .ending {
  width: 100%;
  background-image: url('../images//classybackground.jpg');
  height: 450px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.container-fluid .ending .mha {
  width: 40%;
}
.container-fluid .ending .mha .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-fluid .ending .mha .container h1 {
  border-bottom: 1px solid green;
}
.container-fluid .ending .mha .container .content {
  margin: 50px 0;
}
.container-fluid .ending .mha .container button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}
.container-fluid .ending .fade-in.mha {
  width: 40%;
}
.container-fluid .ending .fade-in.mha .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-fluid .ending .fade-in.mha .container h1 {
  border-bottom: 1px solid green;
}
.container-fluid .ending .fade-in.mha .container .content {
  margin: 50px 0;
}
.container-fluid .ending .fade-in.mha .container button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: navy;
  color: white;
  border: none;
  cursor: pointer;
}
.container-fluid .line {
  transition: all 1s ease-in-out;
  opacity: 0;
  margin: 0;
}
.container-fluid .fade-in.line {
  transition: all 1s ease-in-out;
  opacity: 1;
  margin: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    left: -800px;
  }
  to {
    left: 0px;
  }
}
.navbarContainer {
  width: 100%;
  transition: all 1s ease;
  position: fixed;
  z-index: 20;
}
.navbarContainer .navbar {
  width: 90%;
  padding: 0px;
  margin: 0px auto;
}
.navbarContainer .navbar .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}
.navbarContainer .navbar .navbarLogo .spanContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.navbarContainer .navbar .navbarLogo .spanContainer img {
  max-width: 150px;
  mix-blend-mode: multiply;
}
.navbarContainer .navbar .navbarLogo .spanContainer .items {
  display: flex;
  flex-direction: row;
}
.navbarContainer .navbar .navbarLogo .spanContainer .items .item1 {
  opacity: 0;
  animation: itemfadein 1.3s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.navbarContainer .navbar .navbarLogo .spanContainer .items .item2 {
  opacity: 0;
  animation: itemfadein 1.3s ease-in;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}
.navbarContainer .navbar .navbarLogo .spanContainer .items .item3 {
  opacity: 0;
  animation: itemfadein 1.3s ease-in;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}
.navbarContainer .navbar .navbarLogo .spanContainer .items h2 {
  font-size: 10px;
}
.navbarContainer .navbar .nav-link {
  color: silver;
}
.navbarContainer .navbar .nav-link:hover {
  text-shadow: 0px 0px 10px #0f6fff;
  color: silver;
}
.fadein {
  background-color: rgba(51, 51, 51, 0);
  animation: fadein 1s ease;
  animation-fill-mode: forwards;
}
.fadeout {
  background-color: #333333;
  animation: fadeout 1s ease;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
    background-color: rgba(51, 51, 51, 0);
  }
  to {
    background-color: #333333;
  }
}
@keyframes fadeout {
  from {
    background-color: #333333;
  }
  to {
    background-color: rgba(51, 51, 51, 0);
  }
}
@keyframes itemfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footerContainer {
  background-color: rgba(0, 0, 0, 0.829);
  height: 100%;
}
.footerContainer .borders {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 40px;
}
.footerContainer .content {
  margin-left: 5%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footerContainer .content .servicesTitle {
  color: #056399;
}
.footerContainer .content .servicesTitle .services {
  margin-top: 20px;
}
.footerContainer .content .servicesTitle .services p {
  color: silver;
}
.footerContainer .content .projectTitle {
  color: #056399;
  margin-left: 25%;
}
.footerContainer .content .projectTitle .projects {
  margin-top: 20px;
}
.footerContainer .content .projectTitle .projects p {
  color: silver;
}
.footerContainer .content .contactTitle {
  color: #056399;
  margin-left: 25%;
}
.footerContainer .content .contactTitle .info {
  margin-top: 20px;
}
.footerContainer .content .contactTitle .info p {
  color: silver;
}
@font-face {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orienta/v8/PlI9FlK4Jrl5Y9zNeyc.ttf) format('truetype');
}
* {
  font-family: "Orienta", 'Times New Roman', Times, serif;
  line-height: 25px;
}
