.homeContainer .photo {
  width: 110%;
  opacity: 0.5;
}
.homeContainer .lineUnderPhoto {
  margin-top: 0px;
}
.homeContainer .logoContainer {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 200px;
  top: 200px;
}
.homeContainer .logoContainer .name {
  animation: fadein 1.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.homeContainer .logoContainer .logo {
  width: 100%;
}
.homeContainer .logoContainer .spanContainer {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 140%;
}
.homeContainer .logoContainer .spanContainer .item1 {
  opacity: 0;
  animation: fadein 2s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.homeContainer .logoContainer .spanContainer .item2 {
  opacity: 0;
  animation: fadein 2s ease-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.homeContainer .logoContainer .spanContainer .item3 {
  opacity: 0;
  animation: fadein 2s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.homeContainer .companyDescription {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 100px auto 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.homeContainer .companyDescription h1 {
  margin-bottom: 50px;
}
.homeContainer .fade-in.companyDescription {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 100px auto 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.homeContainer .fade-in.companyDescription h1 {
  margin-bottom: 50px;
}
.homeContainer .servicesContainer {
  width: 100%;
}
.homeContainer .servicesContainer .services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.homeContainer .servicesContainer .services h1 {
  margin-top: 70px;
}
.homeContainer .servicesContainer .fade-in.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto 100px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.homeContainer .servicesContainer .fade-in.services h1 {
  margin-top: 70px;
}
.homeContainer .servicesContainer .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.homeContainer .servicesContainer .cards .card {
  height: 250px;
  width: 600px;
  margin: 0px 70px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  border: none;
}
.homeContainer .servicesContainer .cards .card p {
  padding-top: 20px;
}
.homeContainer .line {
  transition: all 1s ease-in-out;
  opacity: 0;
  margin: 0;
}
.homeContainer .fade-in.line {
  transition: all 1s ease-in-out;
  opacity: 1;
  margin: 0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    left: -800px;
  }
  to {
    left: 0px;
  }
}
.navbar {
  background-color: whitesmoke;
}
.navbar .navbarLogo img {
  max-width: 100px;
  mix-blend-mode: multiply;
}
.navbar .nav-link:hover {
  text-shadow: 0px 0px 10px blue;
}
@font-face {
  font-family: 'Orienta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Orienta'), local('Orienta-Regular'), url(https://fonts.gstatic.com/s/orienta/v8/PlI9FlK4Jrl5Y9zNeyc.ttf) format('truetype');
}
* {
  font-family: "Orienta", 'Times New Roman', Times, serif;
  line-height: 25px;
}
