.navbar {
  background-color: whitesmoke;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.navbar .navbarLogo img {
  max-width: 100px;
  mix-blend-mode: multiply;
}
.navbar .nav-link:hover {
  text-shadow: 0px 0px 10px blue;
}
